.aboutDiv {
  width: 100vw;
  height: 90vh;

  background-color: rgba(7, 7, 7);
}

.about-title {
  display: flex;
  position: relative;
  width: 100%;
  height: 15%;
  /* margin-left: 5%; */

  justify-content: center;
  align-items: center;

  color: white;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 1px solid rgb(65, 65, 65);
}

.about-content {
  display: flex;
  position: relative;
  width: 100%;
  height: 85%;

  /* overflow-y: auto; */
}

.about1 {
  display: flex;
  position: relative;

  margin-left: 2%;
  width: 50%;
  height: 100%;
  border-right: 1px solid rgb(82, 82, 82);

  /* overflow-y: scroll; */
}

.about1-img {
  position: relative;
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.about1-img>img {

  position: relative;
  height: 70%;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  
}

.about1-content {
  display: flex;
  position: relative;

  flex-direction: column;

  width: 70%;
  height: 100%;

  padding-left: 5%;
  justify-content: center;

  font-size: larger;
  font-weight: 500;

  color: wheat;

}

.info {
  font-weight: bolder;
  color: aqua;
}

.about2 {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;

  color: wheat;

  overflow-y: hidden;

}

.about2-content {
  margin: 10%;
  width: 90%;
  height: 85%;
  overflow-y: auto;
}

.about2-content :hover {
  cursor: auto;
}

.about2-content::-webkit-scrollbar {
  width: 7px;

  background-color: rgb(60, 60, 60);
}

.about2-content::-webkit-scrollbar-track {
  height: 5px;
  width: 5px;
  border-radius: 5px;

}

.about2-content::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.about2-content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(19, 1, 53);
}
