.aboutDiv {
  width: 100vw;
  height: 90vh;

  background-color: rgba(7, 7, 7);

  margin-top: 20vh;
}

.about-title {
  display: flex;
  position: relative;
  width: 100%;
  height: 15%;

  justify-content: center;
  align-items: center;

  color: white;
  font-size: 40px;
  font-weight: bold;
  /* border-bottom: 1px solid rgb(65, 65, 65); */
}

.about-content {
  display: flex;
  position: relative;
  width: 100%;
  height: 85%;
}

.about1 {
  display: flex;
  position: relative;

  margin-left: 2%;
  width: 50%;
  height: 100%;
  /* border-right: 1px solid rgb(82, 82, 82); */
}

.about1-img {
  position: relative;
  display: flex;
  width: 30%;
  height: 90%;
  justify-content: center;
  align-items: center;makeover
}

.about1-img>img {
  display: block;
  position: absolute;
  height: 70%;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
}

.about1-content {
  display: flex;
  position: relative;

  flex-direction: column;

  width: 70%;
  height: 100%;

  padding-left: 5%;
  justify-content: center;

  /* font-size: larger; */
  font-size: 20px;
  font-weight: 500;

  color: wheat;
}

.info {
  font-weight: bolder;
  color: aqua;
}

.about2 {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;

  color: wheat;

  overflow-y: hidden;

}

.about2-content {
  display: flex;
  margin: 10%;
  width: 90%;
  height: 85%;
  align-items: start;
  font-size: larger;
  overflow-y: auto;
  /* border: 2px solid yellow; */
}

.about2-content :hover {
  cursor: auto;
}

.about2-content::-webkit-scrollbar {
  width: 7px;

  background-color: rgb(60, 60, 60);
}

.about2-content::-webkit-scrollbar-track {
  height: 5px;
  width: 5px;
  border-radius: 5px;

}

.about2-content::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.about2-content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(19, 1, 53);
}

@media screen and (max-width: 480px) {

  .aboutDiv {
    height: fit-content;
  }

  .about-content {
    flex-direction: column;
    height: fit-content;
  }

  .about1 {
    height: 90%;
    width: 100%;
    flex-direction: column;
  }

  .about1-img {
    height: 300px;
    width: 50%;
    margin-top: 2%;

    align-self: center;
  }

  .about1-content {
    font-size: medium;
  }

  .about2 {
    height: 50vh;
    width: 100%;
    border-top: 1px solid gray;
  }
}
