.contentDiv {
    display: flex;
    position: relative;
  
    height: 80vh;
    width: 80vw;
  
    align-items: center;

    margin-top: 7vh;
  
    background-color: black;
    color: aliceblue;
    font-size: larger;
  
    box-shadow: 0 0 15px 2px rgb(119, 0, 119);
    border-radius: 20px;

    border: 1px solid gray;
  }
  
  .contentBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 55%;
    top: 16%;
  
    z-index: 10;
  
    height: fit-content;
    width: fit-content;
    min-width: 30%;
    max-width: 45%;
  
  }
  
  h2 {
    font-size: 35px;
    font-weight: 700;
  }
  
  .img-container {
    position: relative;
    background-color: rgb(26, 0, 111);
  
  
    overflow-x: hidden;
    overflow-y: visible;
  
    height: 90%;
    width: 45%;
  
    left: 3%;
  
    border-radius: 60%;
  
    box-shadow: inset 5px 2px 50px 20px rgb(99, 38, 254);
  
    z-index: 5;
  }
  
  img {
    display: block;
    position: absolute;
  
    height: 100%;
    width: 100%;
  
  }
  
  .pronoun-span {
    animation: afterDelay 3s;
  }
  
  @keyframes afterDelay {
    0% {
      color: black;
    }
  
    100% {
      color: aliceblue;
    }
  }
  
  .name-span {
    color: rgb(165, 68, 255);
  }
  
  .role {
    font-size: 30px;
    font-weight: 650;
  
    animation: roleAnimation 4s;
  }
  
  .role-span {
    color: rgb(255, 144, 40);
  }
  
  @keyframes roleAnimation {
    from {
      transform: translateY(400%);
    }
  
    to {
      transform: translateY(0%);
    }
  }
  
  .learnMore-btn {
    width: fit-content;
    height: 10%;
  
    padding: 10px;
  
    align-self: center;
  
    font-size: large;
    font-weight: 600;
  
    color: black;
    border-radius: 15px;
  
    animation: fade 10s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fade {
    from {
      background-color: black;
    }
    to {
      background-color: orange;
    }
  }
  
  .learnMore-btn:hover {
    background-color: white;
    cursor: pointer;
  }