.skillDiv {
    position: relative;
    display: flex;

    flex: 1;

    flex-direction: column;

    align-items: center;
    min-height: 100vh;

    height: fit-content;
    width: 98vw;

    /* border-top: 1px solid gray; */

    margin-top: 20vh;
    padding-bottom: 5%;

    background-color: rgba(24, 24, 24, 0.5);
    /* background-color: rgba(0, 0, 0, 1); */
    
    background-size: cover;
    /* border: 2px solid gray; */
}

.skill-title {
    position: relative;
    width: 90%;
    height: fit-content;
    border-bottom: 1px solid gray;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    margin-bottom: 5%;

    letter-spacing: 10px;

    font-size: 30px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    /* background-color: aliceblue; */
    /* box-shadow: inset 0 -15px 30px 5px rgba(255,255,255, 0.6); */
}

.skill-title2 {
    border-bottom: 1px solid rgb(88, 88, 88);
    width: 100%;
}

.skill-title3 {
    width: 100%;
    border-bottom: 1px solid gray;
}

h4 {
    margin-left: 10%;

    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

h3 {
    margin-left: 5%;

    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;

}

.skill-services {
    display: flex;
    position: relative;

    flex-direction: column;
    align-items: center;

    min-height: 70vh;
    width: 90vw;
    height: 90vh;

    background-color: rgba(0, 0, 0, 0.85);
    /* border: 1px solid gray; */
    border-radius: 10px;
}

.services-container {
    position: relative;
    display: grid;

    gap: 15% 10%;

    width: 80%;
    height: 55%;

    align-content: space-between;
    justify-content: space-between;

    padding-top: 3%;
    padding-bottom: 4%;

    grid-template-rows: 33.33% 33.33% 33.33%;
    grid-template-columns: 50% 50%;

    padding-right: 7%;

}

.services-element {
    display: flex;
    position: relative;

    width: 80%;
    height: 100%;

    justify-self: space-evenly;

    align-items: center;
    justify-content: center;

    color: azure;

    background-color: black;
    box-shadow: 0 0 15px 1px rgb(170, 170, 170);
}

.services-element:hover {
    transform: scale(1.15);
}

.services-element:first-of-type,
.services-element:nth-of-type(4),
.services-element:nth-of-type(5) {
    justify-self: self-end;
}

.skill-img {
    position: relative;
    width: 100px;
    height: 80px;

    margin-left: 5%;
    margin-right: 6%;
    background-color: transparent;
}

.skill-technologies {
    position: relative;
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    min-height: 70vh;
    height: fit-content;
    width: 90vw;

    margin: 2%;
    margin-top: 10%;
     /* border: 1px solid gray; */
     background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}

.technologies-container {
    display: inline-flex;

    flex: 1 0;
    flex-wrap: wrap;
    width: 100%;

    justify-content: center;
    align-items: center;

    margin-top: 6%;
    margin-bottom: 8%;

    /* color: white; */
    /* border: 2px solid green; */
}

.technologies-element {

    height: 35vh;
    width: 25%;
    min-width: 25%;
    margin: 3%;

    border-radius: 5px;
    border: 3px solid black;
    background-color: rgb(143, 143, 143);
    box-shadow: -6px 6px 10px 2px rgb(61, 61, 61);

    overflow: hidden;
}

.technologies-element:hover {
    transform: scale(1.05) translate(0, -10%);
}

.technologies-title {
    display: flex;

    width: 100%;
    height: 20%;

    justify-content: center;
    align-items: center;

    font-weight: bolder;

    /* border: 1px solid blue; */
    border-bottom: 1px solid rgb(68, 68, 68);
    background-color: rgb(143, 143, 143);
    /* color: aliceblue; */
}

.technologies-content {
    display: flex;

    padding-top: 3%;
    padding-left: 5%;
    font-weight: 500;
}

@media screen and (max-width: 480px) {
    .skillDiv {
        width: 92vw;
    }

    .skill-title {
        font-size: x-large;
    }
    
    .skill-title2 > h3, .skill-title3 > h3 {
        font-size: large;
    }

    .skill-services {
        max-height: fit-content;
        height: 80vh;
        width: 85vw;
        margin-top: 10%;
        overflow: hidden;
    }

    .services-container {
        height: 70%;
        gap: 10% 8%;
    }

    .services-element {
        height: 90%;
        width: 100%;
        box-shadow: 0px 0px 8px 0px white;
    }

    .services-title {
        font-size: small;
    }

    .skill-img {
        height: 100%;
        width: 20%;
    }

    .skill-title2 {
        padding: 0;
        top: 0;
        height: 10%;
    }

    .skill-technologies {
        width: 85vw;
    }

    .technologies-element {
        width: 60%;
        box-shadow: 0 0 10px 2px rgb(61, 61, 61);
        margin: 10%;
    }

}